
<div class="background">
  <app-nav-bar></app-nav-bar>
    <ul>
      <li>
        <button class="navbar-brand button1" (click)="showMongo()">Mongo Database</button>
      </li>
      <li>
        <button class="navbar-brand button1" (click)="showMySQL()">MySQL Database</button>
      </li>
    </ul>
    
  <div *ngIf="showMongoForm">
    <div class="container mt-5 mx-auto d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-md-6">
          <div class="card box">
            <div class="card-body">
              <h2 class="card-title text-center">Mongo Data</h2>
              <form (ngSubmit)="handleSaveMongo()">
                <div>
                  <label for="username">User Name</label>
                  <input type="text" [(ngModel)]="username" name="username" placeholder="Username">
                </div><br>
                <div>
                  <label for="password">Password</label>
                  <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
                </div><br>
                <div>
                  <label for="database">Mongo IP</label>
                  <input type="text" [(ngModel)]="dbIP" name="dbIP" placeholder="DB IP">
                </div><br>
                <div>
                  <label for="database">Select_Path</label>
                  <input type="text" [(ngModel)]="path" name="path" placeholder="path">
                </div><br>
                <button type="submit" class="button" >Save</button>
                <button type="button" class="button" (click)="viewinTable()">View Data</button>
                <button type="button" class="button" (click)="editMongoForm()">Edit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
      <div *ngIf="showMySQLForm">
        <div class="container mt-5 mx-auto d-flex justify-content-center align-items-center">
          <div class="row">
            <div class="col-md-6">
              <div class="card box">
                <div class="card-body">
                  <h2 class="card-title text-center">MySQL Data</h2>
                  <form (ngSubmit)="handleSaveSql()">
                    <div>
                      <label for="userId">User Name</label>
                      <input type="text" [(ngModel)]="username" name="username" placeholder="Username">
                    </div><br>
                    <div>
                      <label for="password">Password</label>
                      <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
                    </div><br>
                    <div>
                      <label for="mysql_IP">MySQL IP</label>
                      <input type="text"  [(ngModel)]="dbIP" name="dbIP" placeholder="DB IP/host">
                    </div><br>
                    <div>
                      <label for="database">Select_Path</label>
                      <input type="text" [(ngModel)]="path" name="path" placeholder="path">
                    </div><br>
                    <button type="submit" class="button">Save</button>
                    <button type="button" class="button" (click)="viewinTable()">View Data</button>
                    <button type="button" class="button" (click)="editMySQLForm()">Edit</button>
      
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="results.length>0">
        <table class="data-table">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Password</th>
              <th>Host</th>
              <th>Path</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of results">
              <td>{{ row.user }}</td>
              <td>{{ row.pass }}</td>
              <td>{{ row.host }}</td>
              <td> {{row.path}}</td>
            </tr>
          </tbody>
        </table>
      </div>   
      



</div>


    