<body class="background">
  <!-- <div class="container mt-5 mx-auto d-flex justify-content-center align-items-center"> -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <h2>Signup</h2>
        <form [formGroup]="signup_Form" (ngSubmit)="signup()">
          <div class="form-group">
            <label for="exampleInputEmail1">User Id</label>
            <input type="text" formControlName="userId" mb-3 class="form-control" placeholder="Enter user ID">
            <span id="error" *ngIf="userId && userId.invalid && userId.touched">*Invalid user id<br /></span><br />

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName="Password" id="Password" placeholder="Password">
            <span id="error" *ngIf="password && password.invalid && password.touched">*add password</span><br />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
            <span id="error" *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched">*add password</span><br />
            <span *ngIf="signup_Form.getError('passwordMatchError')">re-enter your password</span>
          </div>


          <button type="submit" [disabled]="!signup_Form.valid">Signup</button>
          <a class=" d-grid gap-2 mt-4" routerLink="/login">Already registered? go to Login</a>

        </form>
      </div>
    </div>
  </div>
<!-- </div> -->
</body>
