.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./login.PNG');
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
  }

  .card
  {
      align-items: center;
      padding:30px;
      color: white;
      font-family: 'Times New Roman';
      background: #200229;
      width: 55%;
      top: 70px;
      margin: 0 auto; 
      display: flex; 
      flex-direction: column; 
      justify-content: center;
    } 

    .card form {
        padding: 10px;
        width: 80%;
      }

      .card label{
        color: white;
        font-size: 24px;
      }

      .card input {
        font-size: 16px;
        padding: 10px;
        width: 95%;
      }

        #error {
        font-size: 14px;
        color: red;
      }

        a {
            margin-left: 5px;
            margin-top: 40px;
            color: white;
        } 

    button {
    background-color: #31024a;
    border-radius: 0px;
    margin-top: 20px;
    height: 40px;
    width: 50%;
    font-size: 20px;
    color: white;  
    border:1px solid rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    
   }
   h2 {
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman';
   }
 .btn{
  background-color: rgb(121, 54, 255);
  
 }
  
  
